.addButton
  text-align: center
  padding: 1vw
  button
    background-color: green
    border-radius: 5px
    color: white
    height: 7vh
    width: 10vw
    outline: none

table
  width: 100%

  *
    padding: 10px
  th
    background-color: bisque
    width: 10%
  td
    border-bottom: 1px solid black
    text-align: center
  tr:nth-child(even)
    background-color: lightgray

  tr:hover
    background-color: lightblue

  .description
    width: 50%

  button
    margin: auto
    background-color: red
    width: 10vh

#popUpWindow
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: rgba(black, 0.5)
  display: none
  justify-content: center
  align-items: center

  .formWindow
    background-color: white
    width: 75%
    height: 75%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

    .description
      text-align: center
      textarea
        width: 40vw
        height: 20vh


